<nav class="navbar justify-content-center">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'barplot' %}">Barplot</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'networkplot' %}">Network Graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'multi' %}">Multiplot</a>
    </li>

    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'debug' %}">Debug</a>
    </li>
  </ul>
</nav>


